[user]
	email = 3241533+tebuevd@users.noreply.github.com
	name = dinislam tebuev
	signingkey = key::ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBDNssgcnUEXtZ1QKg8Jz4jKeEyvxm7ZOY/Wbu1f5S3SIp+/ApafkX8P9FC1y12QcdkH872vH/SV+Qex+nKyWnCA=
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgsign = true
