[user]
	email = 3241533+tebuevd@users.noreply.github.com
	name = dinislam tebuev
	signingkey = key::ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBK8zRL/HfIE5oqtYh958m3yDxnQfMPHqzlcLYj07C9YpoIQj+nFU+PIw9LxnImMhGd8Qowp2hn/rfipveF82VWw=
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgsign = true
